In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

In [2]:
def ReadFile(fl:str, path:str):
    with open(fl) as f:
        content = f.readlines()
        # you may also want to remove whitespace characters like `\n` at the end of each line
        content = [path+x.strip() for x in content] 
    return content

In [152]:
path = "/home/l-8053/Downloads/snow/First_Name_Last_Name_50_May/copy/"
# path = "/home/l-8053/Downloads/snow/80/"
filename = "rename.txt"
rename = ReadFile(path+filename,path)

In [153]:
rename[0]

'/home/l-8053/Downloads/snow/First_Name_Last_Name_50_May/copy/10.xlsx'

In [154]:
def saveFile(inputfile, prefix="50\% - May"):
    df = pd.read_excel(inputfile)    
    df.rename(columns={'Total hours': 'Hours worked'}, inplace=True)
    df['Comment'] = df['Comment'].map({'public holiday':'public holiday (fiktives Kug)', 'paid vacation': 'paid vacation (100% Employer)'})
    df.insert (7, "Kug lost hours", abs(df['Hours worked'] - 8))   
    df.insert(8, "Employer", np.NaN)
    df['Employer'][df['Hours worked'].isnull()] = 8 
    # add a new row at the bottom
    df = df.append(pd.Series(), ignore_index=True)
    # add the sum
    df.loc[[len(df)-1],'Hours worked'] = df['Hours worked'].sum()
    df.loc[[len(df)-1],'Kug lost hours'] = df['Kug lost hours'].sum()
    df.loc[[len(df)-1],'Employer'] = df['Employer'].sum()
    df['Hours worked'] = df['Hours worked'].map(lambda x: '%2.2f' % x)
    df['Kug lost hours'] = df['Kug lost hours'].map(lambda x: '%2.2f' % x)
    df['Employer'] = df['Employer'].map(lambda x: '%2.2f' % x)
    df = df.replace('nan','')
#     df1 = df.replace('nan', '', regex=True)
#     df[["Hours worked", "Kug lost hours", "Employer"]] = df[["Hours worked", "Kug lost hours", "Employer"]].apply(pd.to_numeric)
    out_file = "/tmp/tado/"+df['Name'][0]+" "+prefix+".xlsx"
    df.to_excel(out_file)
    hideColumn(df,out_file)

In [155]:
def hideColumn(df,outFile):
    writer = pd.ExcelWriter(outFile, engine='xlsxwriter')
    df.to_excel(writer, index=False, sheet_name='report')
    workbook = writer.book
    worksheet = writer.sheets['report']
    worksheet.set_column('B:B', None, None, {'hidden': True})
    writer.save()

In [149]:
saveFile(rename[0], prefix="80% - May")

/home/l-8053/py3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/l-8053/py3/lib/python3.6/site-packages/ipykernel_launcher.py:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  if __name__ == '__main__':

In [156]:
prefix="50% - May"
# prefix="80% - May"
for f in rename:
    saveFile(f,prefix=prefix)

/home/l-8053/py3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/l-8053/py3/lib/python3.6/site-packages/ipykernel_launcher.py:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  if __name__ == '__main__':

In [102]:
# df = pd.read_excel("/home/l-8053/Downloads/snow/First_Name_Last_Name_50_May/copy/10.xlsx", sheet_name=None)
df = pd.read_excel(rename[0])

In [103]:
df.head(2)

,Name,Email,Day,Start,End,Break,Total hours,Comment,Status
0,Lilia Baough,lilia.baough@tado.com,01.05.2020,0:00,0:00,0,NaN,public holiday,Confirmed
1,Lilia Baough,lilia.baough@tado.com,04.05.2020,9:00,13:00,0,4.0,NaN,Confirmed

In [104]:
df.rename(columns={'Total hours': 'Hours worked'}, inplace=True)

In [105]:
df.insert (7, "Kug lost hours", abs(df['Hours worked'] - 8))

In [106]:
df.insert(8, "Employer", np.NaN)

In [107]:
df['Hours worked'].size

21

In [108]:
len(df)

21

In [109]:
df = df.append(pd.Series(), ignore_index=True)

/home/l-8053/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [110]:
df['Hours worked'].size

22

In [111]:
df.head(3)

,Name,Email,Day,Start,End,Break,Hours worked,Kug lost hours,Employer,Comment,Status
0,Lilia Baough,lilia.baough@tado.com,01.05.2020,0:00,0:00,0.0,NaN,NaN,NaN,public holiday,Confirmed
1,Lilia Baough,lilia.baough@tado.com,04.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
2,Lilia Baough,lilia.baough@tado.com,05.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed

In [112]:
df['Employer'][df['Hours worked'].isnull()] = 8

/home/l-8053/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [113]:
df.head(10)

,Name,Email,Day,Start,End,Break,Hours worked,Kug lost hours,Employer,Comment,Status
0,Lilia Baough,lilia.baough@tado.com,01.05.2020,0:00,0:00,0.0,NaN,NaN,8.0,public holiday,Confirmed
1,Lilia Baough,lilia.baough@tado.com,04.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
2,Lilia Baough,lilia.baough@tado.com,05.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
3,Lilia Baough,lilia.baough@tado.com,06.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
4,Lilia Baough,lilia.baough@tado.com,07.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
5,Lilia Baough,lilia.baough@tado.com,08.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
6,Lilia Baough,lilia.baough@tado.com,11.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
7,Lilia Baough,lilia.baough@tado.com,12.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
8,Lilia Baough,lilia.baough@tado.com,13.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
9,Lilia Baough,lilia.baough@tado.com,14.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed

In [114]:
df['Comment'] = df['Comment'].map({'public holiday':'public holiday (fiktives Kug)', 'paid vacation': 'paid vacation (100% Employer)'})
df.head()

,Name,Email,Day,Start,End,Break,Hours worked,Kug lost hours,Employer,Comment,Status
0,Lilia Baough,lilia.baough@tado.com,01.05.2020,0:00,0:00,0.0,NaN,NaN,8.0,public holiday (fiktives Kug),Confirmed
1,Lilia Baough,lilia.baough@tado.com,04.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
2,Lilia Baough,lilia.baough@tado.com,05.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
3,Lilia Baough,lilia.baough@tado.com,06.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed
4,Lilia Baough,lilia.baough@tado.com,07.05.2020,9:00,13:00,0.0,4.0,4.0,NaN,NaN,Confirmed

In [116]:
hrs_sum = df['Hours worked'].sum()
kug_lsum = df['Kug lost hours'].sum()
employer_sum = df['Employer'].sum()

In [79]:
df['Hours worked']

In [85]:
df['Kug lost hours']

In [117]:
df['Employer']

0     8.0
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    8.0
15    8.0
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    8.0
Name: Employer, dtype: float64

In [80]:
df.loc[df['Hours worked'].size - 1][6]

'nan'

In [81]:
len(df)

22

In [118]:
# df.loc[df['Hours worked'].size - 1][6] = df['Hours worked'].sum()
df.loc[[len(df)-1],'Hours worked'] = df['Hours worked'].sum()
df.loc[[len(df)-1],'Kug lost hours'] = df['Kug lost hours'].sum()
df.loc[[len(df)-1],'Employer'] = df['Employer'].sum()

In [119]:
df.loc[df['Hours worked'].size-1][6]

72.0

In [84]:
df.tail()

In [120]:
df['Hours worked'] = df['Hours worked'].map(lambda x: '%2.2f' % x)
df['Kug lost hours'] = df['Kug lost hours'].map(lambda x: '%2.2f' % x)
df['Employer'] = df['Employer'].map(lambda x: '%2.2f' % x)

In [121]:
df['Email'].hidden = False

In [123]:
df.tail()

,Name,Email,Day,Start,End,Break,Hours worked,Kug lost hours,Employer,Comment,Status
17,Lilia Baough,lilia.baough@tado.com,26.05.2020,9:00,13:00,0.0,4.00,4.00,nan,NaN,Confirmed
18,Lilia Baough,lilia.baough@tado.com,27.05.2020,9:00,13:00,0.0,4.00,4.00,nan,NaN,Confirmed
19,Lilia Baough,lilia.baough@tado.com,28.05.2020,9:00,13:00,0.0,4.00,4.00,nan,NaN,Confirmed
20,Lilia Baough,lilia.baough@tado.com,29.05.2020,9:00,13:00,0.0,4.00,4.00,nan,NaN,Confirmed
21,NaN,NaN,NaN,NaN,NaN,NaN,72.00,72.00,32.00,NaN,NaN

In [30]:
outFile = "/home/l-8053/Downloads/snow/First_Name_Last_Name_50_May/copy/test.xlsx"

In [31]:
df.to_excel(outFile)

In [32]:
writer = pd.ExcelWriter(outFile, engine='xlsxwriter')
df.to_excel(writer, index=False, sheet_name='report')
workbook = writer.book
worksheet = writer.sheets['report']
# col_d = workbook.column_dimensions['Email']
# col_d.hidden = False
# Reduce the zoom a little
# worksheet.set_zoom(90)
worksheet.set_column('B:B', None, None, {'hidden': True})

writer.save()

In [33]:
??worksheet.set_column

Signature: worksheet.set_column(*args, **kwargs)
Docstring: <no docstring>
Source:
    def column_wrapper(self, *args, **kwargs):

        try:
            # First arg is an int, default to row/col notation.
            if len(args):
                int(args[0])
        except ValueError:
            # First arg isn't an int, convert to A1 notation.
            cell_1, cell_2 = [col + '1' for col in args[0].split(':')]
            _, col_1 = xl_cell_to_rowcol(cell_1)
            _, col_2 = xl_cell_to_rowcol(cell_2)
            new_args = [col_1, col_2]
            new_args.extend(args[1:])
            args = new_args

        return method(self, *args, **kwargs)
File:      ~/py3/lib/python3.6/site-packages/xlsxwriter/worksheet.py
Type:      method